<footer class="footer">
  <div class="container">
    <div class="row">
      <nav>
        <ul class="nav nav-pills pull-left">
          <li><%= link_to("Destinations", destinations_path) %></li>
          <li><%= link_to("About", "#") %></li>
          <li><%= link_to("Contact", contact_path) %></li>
          <li><%= link_to("Owners", "#") %></li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <small>
        Use of this Web site constitutes acceptance of the GrandesVillas.com
        Terms & Conditions and Privacy Policy.
        <br />
        © Copyright 2013 - Present GrandesVillas. All rights reserved.
      </small>
    </div>
  </div>
</footer>

<!--
<div id="contact-sidebar">
  <%#= link_to("Quick Message", contact_path, class: "support") %>
</div> -->